includes:
	- rules.neon
services:
	-
		class: CakeDC\PHPStan\Method\AssociationTableMixinClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
			- phpstan.broker.propertiesClassReflectionExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\ORM\Locator\LocatorAwareTrait, fetchTable)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\ControllerFetchTableDynamicReturnTypeExtension(Cake\Controller\Controller, fetchTable)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Command\Command, fetchTable)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Mailer\Mailer, fetchTable)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\View\Cell, fetchTable)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Controller\Component, fetchTable)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\ORM\Locator\LocatorInterface, get)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\RepositoryEntityDynamicReturnTypeExtension(Cake\ORM\Table)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\RepositoryEntityDynamicReturnTypeExtension(Cake\ORM\Association)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\RepositoryFirstArgIsTheReturnTypeExtension(Cake\ORM\Table)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\RepositoryFirstArgIsTheReturnTypeExtension(Cake\ORM\Association)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: CakeDC\PHPStan\Type\ComponentLoadDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: CakeDC\PHPStan\Type\ConsoleHelperLoadDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: CakeDC\PHPStan\PhpDoc\TableAssociationTypeNodeResolverExtension
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension
	-
		class: CakeDC\PHPStan\Type\GetMailerExpressionTypeResolverExtension
		tags:
			- phpstan.broker.expressionTypeResolverExtension
