
services:
	-
		class: CakeDC\PHPStan\Method\AssociationTableMixinClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
			- phpstan.broker.propertiesClassReflectionExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\ORM\Locator\LocatorInterface, get)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Controller\Controller, loadModel)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Command\Command, loadModel)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Console\Shell, loadModel)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Mailer\Mailer, loadModel)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\View\Cell, loadModel)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: CakeDC\PHPStan\Type\ComponentLoadDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: CakeDC\PHPStan\Type\ShellHelperLoadDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
