
services:
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\ORM\Locator\LocatorInterface, get)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Controller\Controller, loadModel)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Command\Command, loadModel)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		factory: CakeDC\PHPStan\Type\TableLocatorDynamicReturnTypeExtension(Cake\Console\Shell, loadModel)
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: CakeDC\PHPStan\ComponentLoadDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: CakeDC\PHPStan\ShellHelperLoadDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
