includes:
    - extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: max
    paths:
        - src
        - tests/TestCase
    excludePaths:
        - */Fake/*
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: phpstanApi.runtimeReflection
            message: '#Creating new ReflectionClass is a runtime reflection concept#'
            path: src/Type/TypeFactoryBuildDynamicReturnTypeExtension.php
