includes:
    - extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
rules:
    - Symplify\PHPStanRules\Rules\Explicit\NoMixedPropertyFetcherRule
    - Symplify\PHPStanRules\Rules\Explicit\NoMixedMethodCallerRule
parameters:
    level: max
    paths:
        - tests/test_plugin
    treatPhpDocTypesAsCertain: false
    cakeDC:
        disallowEntityArrayAccessRule: true
