includes:
    - extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    level: max
    paths:
        - src
        - tests/TestCase
    excludePaths:
        - */Fake/*
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.generics
