parameters:
	cakeDC:
	 	addAssociationExistsTableClassRule: true
	 	addAssociationMatchOptionsTypesRule: true
	 	addBehaviorExistsClassRule: true
	 	tableGetMatchOptionsTypesRule: true
	 	ormSelectQueryFindMatchOptionsTypesRule: true
	 	disallowEntityArrayAccessRule: true
	 	getMailerExistsClassRule: true
	 	loadComponentExistsClassRule: true
	 	controllerMethodMustBeUsedRule: true
	 	disallowDebugFuncCallRule: true
	 	disallowDebugStaticCallRule: true
parametersSchema:
	cakeDC: structure([
		addAssociationExistsTableClassRule: anyOf(bool(), arrayOf(bool()))
		addAssociationMatchOptionsTypesRule: anyOf(bool(), arrayOf(bool()))
		addBehaviorExistsClassRule: anyOf(bool(), arrayOf(bool()))
		tableGetMatchOptionsTypesRule: anyOf(bool(), arrayOf(bool()))
		ormSelectQueryFindMatchOptionsTypesRule: anyOf(bool(), arrayOf(bool()))
		disallowEntityArrayAccessRule: anyOf(bool(), arrayOf(bool()))
		getMailerExistsClassRule: anyOf(bool(), arrayOf(bool()))
		loadComponentExistsClassRule: anyOf(bool(), arrayOf(bool()))
		controllerMethodMustBeUsedRule: anyOf(bool(), arrayOf(bool()))
		disallowDebugFuncCallRule: anyOf(bool(), arrayOf(bool()))
		disallowDebugStaticCallRule: anyOf(bool(), arrayOf(bool()))
	])

conditionalTags:
	CakeDC\PHPStan\Visitor\AddAssociationSetClassNameVisitor:
		phpstan.parser.richParserNodeVisitor: %cakeDC.addAssociationExistsTableClassRule%
	CakeDC\PHPStan\Rule\Controller\LoadComponentExistsClassRule:
		phpstan.rules.rule: %cakeDC.loadComponentExistsClassRule%
	CakeDC\PHPStan\Rule\Controller\ControllerMethodMustBeUsedRule:
		phpstan.rules.rule: %cakeDC.controllerMethodMustBeUsedRule%
	CakeDC\PHPStan\Rule\Model\AddAssociationExistsTableClassRule:
		phpstan.rules.rule: %cakeDC.addAssociationExistsTableClassRule%
	CakeDC\PHPStan\Rule\Model\AddAssociationMatchOptionsTypesRule:
		phpstan.rules.rule: %cakeDC.addAssociationMatchOptionsTypesRule%
	CakeDC\PHPStan\Rule\Model\AddBehaviorExistsClassRule:
		phpstan.rules.rule: %cakeDC.addBehaviorExistsClassRule%
	CakeDC\PHPStan\Rule\Model\DisallowEntityArrayAccessRule:
		phpstan.rules.rule: %cakeDC.disallowEntityArrayAccessRule%
	CakeDC\PHPStan\Rule\Mailer\GetMailerExistsClassRule:
		phpstan.rules.rule: %cakeDC.getMailerExistsClassRule%
	CakeDC\PHPStan\Rule\Model\TableGetMatchOptionsTypesRule:
		phpstan.rules.rule: %cakeDC.tableGetMatchOptionsTypesRule%
	CakeDC\PHPStan\Rule\Model\OrmSelectQueryFindMatchOptionsTypesRule:
		phpstan.rules.rule: %cakeDC.ormSelectQueryFindMatchOptionsTypesRule%
	CakeDC\PHPStan\Rule\Debug\DisallowDebugFuncCallRule:
		phpstan.rules.rule: %cakeDC.disallowDebugFuncCallRule%
	CakeDC\PHPStan\Rule\Debug\DisallowDebugStaticCallRule:
		phpstan.rules.rule: %cakeDC.disallowDebugStaticCallRule%

services:
	-
		class: CakeDC\PHPStan\Visitor\AddAssociationSetClassNameVisitor
	-
		class: CakeDC\PHPStan\Rule\Controller\LoadComponentExistsClassRule
	-
		class: CakeDC\PHPStan\Rule\Controller\ControllerMethodMustBeUsedRule
	-
		class: CakeDC\PHPStan\Rule\Model\AddAssociationExistsTableClassRule
	-
		class: CakeDC\PHPStan\Rule\Model\AddAssociationMatchOptionsTypesRule
	-
		class: CakeDC\PHPStan\Rule\Model\AddBehaviorExistsClassRule
	-
		class: CakeDC\PHPStan\Rule\Model\DisallowEntityArrayAccessRule
	-
		class: CakeDC\PHPStan\Rule\Mailer\GetMailerExistsClassRule
	-
		class: CakeDC\PHPStan\Rule\Model\TableGetMatchOptionsTypesRule
	-
		class: CakeDC\PHPStan\Rule\Model\OrmSelectQueryFindMatchOptionsTypesRule
	-
		class: CakeDC\PHPStan\Rule\Debug\DisallowDebugFuncCallRule
	-
		class: CakeDC\PHPStan\Rule\Debug\DisallowDebugStaticCallRule
