parameters:
	cakeDC:
	 	addAssociationExistsTableClassRule: true
	 	addAssociationMatchOptionsTypesRule: true
	 	addBehaviorExistsClassRule: true
	 	tableGetMatchOptionsTypesRule: true
	 	ormSelectQueryFindMatchOptionsTypesRule: true
	 	disallowEntityArrayAccessRule: false
	 	getMailerExistsClassRule: true

parametersSchema:
	cakeDC: structure([
		addAssociationExistsTableClassRule: anyOf(bool(), arrayOf(bool()))
		addAssociationMatchOptionsTypesRule: anyOf(bool(), arrayOf(bool()))
		addBehaviorExistsClassRule: anyOf(bool(), arrayOf(bool()))
		tableGetMatchOptionsTypesRule: anyOf(bool(), arrayOf(bool()))
		ormSelectQueryFindMatchOptionsTypesRule: anyOf(bool(), arrayOf(bool()))
		disallowEntityArrayAccessRule: anyOf(bool(), arrayOf(bool()))
		getMailerExistsClassRule: anyOf(bool(), arrayOf(bool()))
	])

conditionalTags:
	CakeDC\PHPStan\Visitor\AddAssociationSetClassNameVisitor:
		phpstan.parser.richParserNodeVisitor: %cakeDC.addAssociationExistsTableClassRule%
	CakeDC\PHPStan\Rule\Model\AddAssociationExistsTableClassRule:
		phpstan.rules.rule: %cakeDC.addAssociationExistsTableClassRule%
	CakeDC\PHPStan\Rule\Model\AddAssociationMatchOptionsTypesRule:
		phpstan.rules.rule: %cakeDC.addAssociationMatchOptionsTypesRule%
	CakeDC\PHPStan\Rule\Model\AddBehaviorExistsClassRule:
		phpstan.rules.rule: %cakeDC.addBehaviorExistsClassRule%
	CakeDC\PHPStan\Rule\Model\TableGetMatchOptionsTypesRule:
		phpstan.rules.rule: %cakeDC.tableGetMatchOptionsTypesRule%
	CakeDC\PHPStan\Rule\Model\OrmSelectQueryFindMatchOptionsTypesRule:
		phpstan.rules.rule: %cakeDC.ormSelectQueryFindMatchOptionsTypesRule%
	CakeDC\PHPStan\Rule\Model\DisallowEntityArrayAccessRule:
		phpstan.rules.rule: %cakeDC.disallowEntityArrayAccessRule%
	CakeDC\PHPStan\Rule\Mailer\GetMailerExistsClassRule:
		phpstan.rules.rule: %cakeDC.getMailerExistsClassRule%
services:
	-
		class: CakeDC\PHPStan\Visitor\AddAssociationSetClassNameVisitor
	-
		class: CakeDC\PHPStan\Rule\Model\AddAssociationExistsTableClassRule
	-
		class: CakeDC\PHPStan\Rule\Model\AddAssociationMatchOptionsTypesRule
	-
		class: CakeDC\PHPStan\Rule\Model\AddBehaviorExistsClassRule
	-
		class: CakeDC\PHPStan\Rule\Model\TableGetMatchOptionsTypesRule
	-
		class: CakeDC\PHPStan\Rule\Model\OrmSelectQueryFindMatchOptionsTypesRule
	-
		class: CakeDC\PHPStan\Rule\Model\DisallowEntityArrayAccessRule
	-
		class: CakeDC\PHPStan\Rule\Mailer\GetMailerExistsClassRule
